DATABASE_URL=
APP_URL=http://localhost:3000
SESSION_SECRET=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SUPPLIER_API_URL=
SUPPLIER_API_KEY=
SUPPLIER_NAME=Fornecedor principal
SUPPLIER_PRICE_MARGIN_PERCENT=50
MERCADOPAGO_ACCESS_TOKEN=
